@model Writer
@{
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Yazar Profil Güncelleme</h4>
            <form class="forms-sample" asp-action="UpdateProfile" , asp-controller="Dashboard" method="post" enctype="multipart/form-data">
                <div class="form-group" >
                    <label for="writerName">Yazar İsmi</label>
                    <input type="text" class="form-control" id="writerName" name="Name" value="@Model.Name">
                    @Html.ValidationMessageFor(x => x.Name, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label for="writerMail">Mail Adresi</label>
                    <input type="text" class="form-control" id="writerMail" name="MailAdress" value="@Model.MailAdress">
                    @Html.ValidationMessageFor(x => x.MailAdress, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label for="writerAbout">Hakkında</label>
                    <textarea class="form-control" id="writerAbout" name="WriterAbout">@Model.WriterAbout</textarea>
                    @Html.ValidationMessageFor(x => x.WriterAbout, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label>Yazar Görseli</label>
                    <input type="file" name="WriterImage" id="writerImage">
                </div>

                <button type="submit" @*onclick="updateWriter(@Model.ID)"*@ class="btn btn-gradient-primary mr-2">Güncelle</button>
            </form>
        </div>
    </div>
</div>
<script>
    function updateWriter(writerId) {
        if (writerId == null) {
            alert("Id boş olamaz.");
            return false;
        }
        var name = $('#writerName').val();
        var mail = $('#writerMail').val();
        var about = $('#writerAbout').val();
        var image = $('#writerImage')[0].files[0];

        var model = {
            Name: name,
            WriterAbout: about,
            MailAdress: mail,
            WriterImage: image,
            ID: writerId
        };
        debugger;
        var formData = new FormData();

        var fileInput = $('#writerImage')[0];
        var file = fileInput.files[0];
        

        formData.append("ID", writerId);
        formData.append("MailAdress", mail);
        formData.append("WriterImage", file);
        formData.append("WriterAbout", about);
        formData.append("Name", name);
        $.ajax(
            {
                type: "POST",
                url: '/Dashboard/UpdateProfile',
                data: { 'imageFile': formData },
                processData: false,
                contentType: false,
                enctype="multipart/form-data",
                success: function (response) {
                    if (response) {
                        window.location.href = "/Dashboard/Dashboard";
                    }
                    else alert("Hata!");
                },
                error: function (response) {
                    alert("Hata!");
                }
            }
        );

        //swal({
        //    title: "Are you sure?",
        //    text: "Once updated, you will not be able to recover this imaginary file!",
        //    icon: "warning",
        //    buttons: true,
        //    dangerMode: true,
        //}).then((willDelete) => {
        //        if (willDelete) {
        //            $.ajax(
        //                {
        //                    type: "POST",
        //                    url: '/Blog/EditBlog',
        //                    data: JSON.stringify(model),
        //                    success: function (response) {
        //                        swal("Poof! Your imaginary file has been updated!", {
        //                            icon: "success",
        //                        }).then((isOkey) => {
        //                            if (isOkey) {
        //                                window.location.href = response.redirectToUrl;
        //                            }
        //                        });
        //                    },
        //                    error: function (response) {

        //                    }
        //                }
        //            );
        //        } else {
        //            swal("Your imaginary file is safe!");
        //        }
        //    });
    }
</script>